html {
    background-color: lightgray;
}

body{
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color:black;
}

header {
    display: flex;
    min-height: 70px;
    background-color:skyblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor {

    background-image: url(https://images8.alphacoders.com/468/thumb-1920-468203.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section figcaption {
   text-align:center; 
   font-weight:bold; 
   font-size: 25px; 
   margin-top: 10px; 
}


footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: lightblue;
    color:black;
}
